django
# Rest framework
djangorestframework
# Environment variables library
django-environ
# More static types and type inference
django-stubs
# Multiple configurations inside one setting
django-configurations
# Filtering by url
django-filter
# Cors
django-cors-headers
# Swagger
drf-yasg
pyyaml
coreapi
# Jwt Authentication
python-keycloak
PyJWT
# Image library
Pillow
# Celery driver
celery
# Celery task result models
django-celery-results
# Celery periodic task models
django-celery-beat
# Redis driver
redis
# Concurrent networking library for Celery
eventlet
# Library to deal with URI
uritemplate
# Postgres driver
psycopg2-binary
# Testing coverage
coverage
# Web scrapping
beautifulsoup4
# Web server
gunicorn
# Minio driver
minio
# Storage provider drivers (AWS S3 will be used for minio)
django-storages
boto3