django==4.1
djangorestframework==3.13.1
django-stubs==1.12.0
dj-database-url==1.0.0
django-configurations[cache,database,email,search]==2.3.2
django-filter==22.1
drf-yasg==1.21.3
PyJWT==2.4.0
djoser==2.1.0