django
djangorestframework
django-environ
django-stubs
django-configurations
django-filter
django-cors-headers
drf-yasg
djangorestframework-simplejwt
PyJWT
cryptography
Pillow
celery
django-celery-results
django-celery-beat
redis
eventlet
pyyaml
uritemplate
psycopg2-binary
coverage
beautifulsoup4
docutils
django-dbbackup
python-gnupg
gunicorn
pycryptodome
django-minio-storage